.container {
    padding: 20rpx;
  }
  
  .search-input {
    height: 80rpx;
    border: 1px solid #ddd;
    border-radius: 4rpx;
    padding: 0 20rpx;
    line-height: 80rpx;
  }
  
  .recommend-item {
    border: rgba(51, 51, 51, 0.178) 1px solid;
    padding: 12px;
    border-radius: 10px;
    margin-top: 30rpx;
    img {
      width: 200rpx;
      height: 200rpx;
      margin-right: 30rpx;
    }
  
    p {
      font-size: 32rpx;
      color: #333;
      margin: 0;
    }
  }
.recommend-item-types{
  padding-top: 12px;
  color: #bbb;
}